<mat-toolbar color="primary">

    <div>
        <a routerLink="/home">
            <img src="assets/Logo3.svg" width="30%">

        
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
  </mat-toolbar>