.container {
  width: 100%;
  height: 100%;
}
.mat-card {
  object-fit: cover;
  width: 95% !important;
  border-radius: 10px;
  height: 5%;
  padding-bottom: 0px;
}

img {
  max-height: 100% !important;

  width: 33%;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;

  object-fit: cover;
  object-position: center;
  padding-right: 3%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.mat-card-title {
  font-family: "Montserrat", sans-serif;
  color: #585858;
  font-size: large;
}

.mat-card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

html,
body {
  width: 100%;
  height: 100%;
}
