<div
  fxLayout="column"
  layout-margin
  layout-wrap
  fxLayoutGap="25px"
  fxLayoutAlign="space around center"
  layout
>
  <mat-card
    class="mat-card"
    *ngFor="let picture of arr"
    (click)="openDialog(picture)"
  >
    <div class="cont" fxLayout="row" fxLayoutGap="1%" layout>
      <img
        flex
        mat-card-image
        [src]="picture.img"
        alt="Photo of {{ picture.title }}"
        class="mat-card-image"
      />

      <mat-card-content>
        <mat-card-title class="mat-card-title">{{
          picture.title
        }}</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">{{
          picture.subtitle
        }}</mat-card-subtitle>
      </mat-card-content>
    </div>
  </mat-card>
</div>
