<div mat-dialog close>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon class="cancel">cancel</mat-icon>
  </button>
</div>

<img class="image" src="{{ data.img }}" />

<div mat-dialog-content>
  <mat-card-title>{{ data.title }}</mat-card-title>

  <mat-card-subtitle>
    {{ data.subtitle }}
  </mat-card-subtitle>
  <mat-form-field>
    <input
      matInput
      required
      [(ngModel)]="data.mobileNumber"
      [(ngModel)]="theNumber"
      placeholder="Mobile number"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      readonly
      required
      [(ngModel)]="data.date"
      [(ngModel)]="theDate"
      [matDatepicker]="picker"
      placeholder="Date of visit"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    (click)="confirm()"
    class="mat-raised-button mat-primary"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Schedule Visit
  </button>
</div>
