img{
    
    max-height:50% !important;
    
    width:99%; 
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

    object-fit: cover; 
    object-position: center;
    padding-bottom: 2%;
    }

    .mat-card {
        object-fit: cover; 
        width: 100% !important; 
        height:100% !important;
        border-radius: 10px;
        height:5%;
      }

      .mat-card-title{
        font-family: 'Montserrat', sans-serif;
        color: #585858;
        font-size: large;
              }
        
        .mat-card-subtitle{
        font-family: 'Montserrat', sans-serif;
        font-size: small;

        }
        
        html, body {
          width: 100%;
          height: 100%;
        }

.mat-raised-button{
    width:100%;
}

.mat-form-field{
    width:100%;
}

.cancel{
    color:#8A8A8A;
    align-self:'end';
}

.container img {
    width: 100%;
    height: auto;
  }

