@import '~@angular/material/theming';


@include mat-core();
$bv-green:(500: #2CB474,
contrast:(
    500: white,

));

$bv-grey:(500: #F7F7F7,
contrast:(
    500: white,

));


$custom-theme-primary: mat-palette($bv-green);
$custom-theme-accent:mat-palette($bv-green);
$custom-theme-warn: mat-palette($mat-green);


$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);