
/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

.mat-tab-label .mat-tab-label-content{
    white-space: pre-wrap !important;

    }

.basic-container {
    padding: 30px;
    }
    
.version-info {
font-size: 8pt;
float: right;
}
